python-telegram-bot==20.7
pymongo==4.6.1
python-dotenv==1.0.0
nltk==3.8.1
reportlab==4.0.7
gunicorn==21.2.0

# pymongo

# run this command before running the project:
    # pip install -r requirements.txt


# 85930954

# pip install motor

# pip install pymongo

# username - nikhilanatharaju
# password - 62psX6g?vqEsE:Z

# PythonAnywhere
# https://youtu.be/2TI-tCVhe9k?si=EvJTAKzWq1ymJ8pg

# analyze_and_show_dates - 1st search
# get_available_dates - 2nd search

# 241 time slot v - key --< has been changed